*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1D2123;
    padding: 1.25rem;
    color: white;
}

.logo {
    width: 34px;
    height: 34px;
}

code {
    font-family: 'Quicksand', sans-serif;
}

.header {
    /* border: 1px solid white; */

}

.searchbar {
    color: rgba(255, 255, 255, 0.25);
    align-items: center;
    font-size: 0.875rem;
    /* border: 1px solid white; */
}

.home-nav {
    background-color: #1A1E1F;
    width: 3.25rem;
    height: 14.375rem;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    line-height: 3.2rem;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

.profile-nav {
    background-color: #1A1E1F;
    width: 3.25rem;
    height: 7.9rem;
    border-radius: 2rem;
    box-sizing: border-box;

    /* border: 1px solid white; */

}

.sidebar-icon :hover path {
    fill: white;
}

.profile-icons :hover {
    color: white;
    cursor: pointer;
}

.playlists {
    background-color: #1A1E1F;
    min-width: 26rem;
    /* min-width: 70%; */
    border-radius: 1.25rem;
    cursor: pointer;
}

.playlist-cover {
    width: 3.9375rem;
    height: 3.9375rem;
}

.playlist-container::-webkit-scrollbar {
    width: 0;
}


.releases {
    border-radius: 1.5625rem;
    width: 9.5625rem;
    height: 9.5625rem;
}

.releases-container {
    overflow-x: auto;
}

.releases-container::-webkit-scrollbar {
    width: 0;
}


.btnn {
    width: 7.5rem;
    padding: 0.625rem;
    border: none;
    outline: none;
    box-sizing: border-box;
    height: max-content;
    background-color: #1D2123;
    color: #EFEEE0;
    border-radius: 27px;
    border: 1px solid #EFEEE0;
}

.btnn:hover {
    background-color: #FACD66;
    color: #1D2123;
    border: none;
}

.button-container {
    /* border: 1px solid white; */
    width: 100%;
    font-size: 14px;
}

.liked-collection {
    /* border: 1px solid white; */
    display: none;
}

.title {
    position: absolute;
    margin-top: -30px;
}

.bigger-picture {
    display: none;
}

.visited-link {
    color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
}

.visited-link:visited {
    color: #FACD66;
}







@media only screen and (max-width: 992px) {
    html {
        font-size: 12px;
    }

    .playlist-container {
        overflow-x: auto;
    }

    .playlists {
        min-width: 60%;
    }

    .button-container {
        justify-content: center;
    }

    .btnn {
        width: 11.125rem;
    }

    .bigger-picture {
        display: block;
    }

    .small-picture {
        display: none;
    }

    /* .dashboard-img{
            height: 150px;


        } */

}

@media only screen and (max-width: 992px) {

    /* .collection-img {
        display: none;
    } */




}
